Skriptbasiertes Update auf DWH-J2EE-0.7 für Debian
==================================================

Für laufende DWH Instanzen auf Debian Servern stellen wir eine Update-Skript bereit, zu finden unter 
[Debian Update Paket](${releaseRepoUrl}/org/aktin/dwh-update/${dwhServerVersion}/dwh-update-${dwhServerVersion}.tar.gz)
Für die Ausführung ist wichtig, dass der User als `root` angemeldet ist. 
Dazu führt man, falls der User auf der Sudoer-Liste steht (der User `root` hat dann meist kein eigenes Passwort), Folgendes aus:

```
sudo su -
```
oder, wenn der User nicht auf der Sudoer-Liste steht (`root` hat eigenes Passwort), Folgendes:

```
su -
```

Als erstes muss das packet heruntergeladen werden und entpackt: 
```
wget ${releaseRepoUrl}/org/aktin/dwh-update/${dwhServerVersion}/dwh-update-${dwhServerVersion}.tar.gz
tar xvzf dwh-update-${dwhServerVersion}.tar.gz
cd dwh-update
```

Der Inhalt (`ls`) sollte dann etwa wie folgt aussehen:
```
dwh-update
- aktin.properties
- aktin_dwh_update.sh
- email.config
- email_config_reset.sh
- README.md
- lib
- - ...
```

In diesem Update werden eingie wichtige Einstellungen durchgeführt. Dazu müssen Sie die Datei `aktin.properties` anpassen und in die Konfigurationsordner des Wildfly-Servers kopieren, in Normalfall unter `/opt/wildfly-9.0.2.Final/standalone/configuration/`. Welche Angaben genau geändert werden müssen und wie diese verwendet werden, können Sie dem Abschnitt "Lokale Konfigurationen in der Datei `aktin.properties`" entnehmen.
```
nano aktin.properties
cp aktin.properties /opt/wildfly-9.0.2.Final/standalone/configuration/
```
In der Datei `email.config` tragen Sie bitte die Emailkonfigurationen für die Ausgangsmailadresse ein. Diese Mail wird für Benachrichtigungen und Berichte hausintern verwendet. Diese sollte eine eigene Emailadresse sein. Eine funktionstüchtige Mailadresse ist Voraussetzung für diesen Update. Bitte bearbeiten Sie diese Datei. Eine Beschreibung der Inhalt von `email.config` sowie eine Möglichkeit für spätere Änderungen entnehmen Sie bitte dem Abschnitt "Emailkonfiguration und Änderungen"
```
nano email.config
```

Nun kann der Updateskript ausgeführt werden:
```
./aktin_dwh_update.sh
```
Dieser besteht aus 6 große Schritten. In der Konsole werden während des Updates die Schritte und Informationen sowie eventuelle Fehlermeldungen ausgegeben. 
Am Ende des Skriptes wird der Wildfly Server neugestartet und das neue Softwarepaket bereitgestellt. Abhängig vom Serverequipment und Last kann dies mehrere Minuten dauern. Sollte die Bereitstellung bis Skriptende immer noch nicht fertiggestellt sein, kommt folgende Fehlermeldung:
```
+++WARNING+++ file not successfully deployed, check for file: dwh-j2ee-0.7.ear.deployed
```
Dies muss nicht einen Fehler bedeuten. Bitte überprüfen Sie nach einiger Minuten den Deploymentordner `/opt/wildfly-9.0.2.Final/standalone/deployments`, z.B. mit dem Befehl
```
ls /opt/wildfly-9.0.2.Final/standalone/deployments/dwh-j2ee-0.7*.deployed
```
Sollte eine Auflistung erscheinen, war der Update erfolgreich.

Unter dem Link `IhrAKtinServerLink/aktin/admin/test/` kann man die oben durchgeführten Anpassungen nun testen. 

[Test server configuration]: update_7_test/Screenshot_1.png "Testbildschirm"
Der erste Button testet die Erreichbarkeit zum zentralen Aktin-Broker. Der lokale Server übersendet dem zentralen Broker nur Daten wie die Serverversion und Aktivität.
Der zweite Button testet die oben eingerichtete Emailadresse. Diese sendet nun eine Mail an die in `aktin.properties` angegebene Adresse.
Der dritte Button testet die R Bibliotheken. Diese werden zur Erzeugung der Berichte verwendet.

[Test server configuration]: update_7_test/Screenshot_5.png "Erfolgreicher Testabschluss"
Sollte der Emailtest fehlschlagen und das Textfeld zeigt keine grüne Erfolgsmeldung wie in dem obigen Bild, sondern Fehlermeldungen wie folgt anzeigen, könnte dies ein Hinweis auf fehlerhafte Emaileinstellung sein. In dem Fall muss man die Emailkonfiguration Ändern wie in Abschnitt "Emailkonfiguration und Änderungen" und die Softwarepakete erneut laden.

[Test server configuration]: update_7_test/Screenshot_6.png "Fehlerhafte Emailkonfiguration"

Sollte weitere Probleme entstehen, bitte kontaktieren Sie uns unter it-support(at)aktin.org



Lokale Konfigurationen in der Datei `aktin.properties`
------------------------------------------------------
Beispieldatei für `aktin.properties`
```
# Currently not used, may be changed (Name of the installation)
local.cn=AKTIN DWH
# Used in AKTIN reports, should contain the name of the Organization (Hospital)
local.o=Ev. Klinikum Beispielhausen
# Used in AKTIN reports, should contain the name of the Unit (Notaufnahme, Rettungsstelle, ZNA, etc.)
local.ou=Notaufnahme
# Town / Stadt
local.l=Beispielhausen
# State / Bundesland
local.s=Niedersachen
# Country / Staat
local.c=Deutschland
# default E-Mail-Address for notifications, reports (non technical)
local.email=zna-contact@klinikum-beipielhausen.de
local.tz=Europe/Berlin
rscript.binary=/usr/bin/Rscript
# needed for read/write access to the i2b2 database
i2b2.project=AKTIN
i2b2.datasource.crc=java:/QueryToolDemoDS
# needed for i2b2 authentication and user management
i2b2.service.pm=http://localhost:8080/i2b2/services/PMService/
# TODO create dir /var/lib/aktin and chown to wildfly
report.data.path=/var/lib/aktin/reports
report.temp.path=/var/tmp/report-temp
report.archive.path=/var/lib/aktin/report-archive
broker.data.path=/var/lib/aktin/broker
broker.archive.path=/var/lib/aktin/broker-archive
broker.uris=https://broker.aktin.org/broker/
broker.intervals=PT15M
# Used in AKTIN to connect to the broker, you can get your API key from it-support@aktin.org
broker.keys=XXXyourapikeyXXX
db.datasource=java:jboss/datasources/AktinDS
email.session=java:jboss/mail/AktinMailSession
email.replyto=it-support@aktin.org
wildfly.management.url=http://localhost:19990/management
wildfly.management.user=admin
wildfly.management.password=admin2
```

Besonders wichtig ist `local.email`, wo die Emailadresse eingetragen werden muss, wohin z.B. die Monatsberichte hingeschickt werden sollen. 

Sollte später die Einstellung geändert werden, muss man dies direkt in dem Wildfly-Konfigurationsordner, in Normalfall unter `/opt/wildfly-9.0.2.Final/standalone/configuration/` zu finden:

```
nano /opt/wildfly-9.0.2.Final/standalone/configuration/aktin.properties
```


Emailkonfiguration und Änderungen
---------------------------------
Beispielsdatei für Emailkonfiguration `email.config`
```
#
#     change mail server configuration here
#
#     mail server name
#
smtphost=smtp.web.de
#
#     mail server port, e.g. 465 (SSL) or 587 (TLS)
#
smtpport=587
#
#     user name for authentication
#
smtpuser=aktin-test@web.de
#
#     password for authentication
#
smtppass=password
#
#     email address (from)
#
mailfrom=aktin-test@web.de
#
#     security configuration, only one of ssl/tls can be used
#
usessl=false
usetls=true
```
In dieser Datei werden die Einstellungen für eine Ausgangsmail konfiguriert. Hierbei muss man besonders auf die Einstellungen des Mailservers achten und `usessl` und `usetls` richtig setzen, dementsprechend auch den `smtpport`.

Sollte die Maileinstellungen nach dem Update nochmals geändert werden, müssen die folgenden Schritte durchgeführt werden.

Als erstes muss der Skript `./email_config_reset.sh` aus dem Updateordner mit `root` Rechten ausgeführt werden. 
Nach Bearbeiten der `email.config` führt man den Updateskript `./aktin_dwh_update.sh` wieder mit `root` aus.

