Installation und Update des AKTIN-Applikationsserver
===============================================

Diese Informationen richten sich an die Server-Administratoren, die für die Einrichtung bzw. Wartung der Linux-Server in den Kliniken zuständig sind, auf denen das AKTIN-Datawarehouse läuft.

Beschrieben wird das Vorgehen für eine Neuinstallation, verschiedene Varianten zum Update sowie optionale Konfigurationsschritte.

Nach dem erfolgreichen Update oder Installation können Sie auf der Seite _`http://IPADRESSE/aktin/admin/`_ auf die Admin GUI zugreifen. Dort haben Sie einen Überblick über verschiedene Einstellungen sowie Zugriff auf die Berichte. Einloggen können Sie sich auf dieser Seite mit dem i2b2-Nutzer bzw Admin.

Neuinstallation
---------------
Wenn Sie noch keine Installation haben, oder den Server komplett neu aufsetzen wollen, dann folgen Sie bitte der Anleitung unter dem Punkt AKTIN (NEU-)INSTALLATION. Bitte beachten Sie die [Voraussetzungen](install-requirements.html), dort werden die verschiedenen Varianten der Neu-Installation beschrieben.

Sie erhalten mit einer Neuinstallation automatisch den neuesten Release-Stand (${project.version}), d. h. anschließend ist kein Update/Patch mehr notwendig.


Automatisches Update für Debian (und CentOS)
--------------------------------------------
Falls Sie einen Debian oder CentOS-Server nutzen, der anhand der Anleitung eingerichtet wurde, sollten die Update-Scripte bei Ihnen funktionieren. 

__Update auf ${project.version}__

Für einen Update auf ${project.version} folgen Sie der Anleitung zum [skriptbasierten Update](update-auto.html).

Für RedHat-Server kann man, nach manueller Anpassung, auch das Skript genutzt werden.


Manuelles Update für Debian, CentOS oder andere Betriebssysteme
----------------------------------------------------------------
Bei individuell konfigurierten Servern oder anderen Linux-Distributionen führen Sie die einzelnen Schritte des Scripts bitte manuell durch und passen Sie ggf. die Pfade oder andere Besonderheiten entsprechend an.

__Update auf ${project.version}__

Bitte folgen Sie der Anleitung zum [manuellen Update](update-manual.html)



Software-Pakete
---------------

_Installationspaket mit DWH-J2EE-${dwhJ2EEVersion}_

[${releaseRepoUrl}/org/aktin/dwh/dwh-install/${project.version}/dwh-install-${project.version}.tar.gz](${releaseRepoUrl}/org/aktin/dwh/dwh-install/${project.version}/dwh-install-${project.version}.tar.gz)

_Softwareupdate-Paket auf DWH-J2EE-${dwhJ2EEVersion}_

[${releaseRepoUrl}/org/aktin/dwh/dwh-update/${project.version}/dwh-update-${project.version}.tar.gz](${releaseRepoUrl}/org/aktin/dwh/dwh-update/${project.version}/dwh-update-${project.version}.tar.gz)

Beschreibungen und Hinweise
---------------------------

_Installation_

[Voraussetzungen](install-requirements.html)
[Installationsskript](install-script.html)
[Firewall Hinweise](install-firewall.html)

_Update_

[Skpriptbasiertes Update](update-auto.html)
[Manuelles Update](update-manual.html)

_Changelog_

[Changelog](changelog.html)

_Import, CDA und Schnittstelle_

[Import, CDA und Schnittstelle](../../${dwhImportVersion}/dwh-import/index.html)


Kontakt
-------
Für weitere Infos und Fragen:
it-support(at)aktin.org