Installation und Update des AKTIN-Applikationsserver
===============================================

Software-Pakete
---------------

_Installationspaket mit DWH-J2EE-${dwhImportVersion}_

```
${releaseRepoUrl}/org/aktin/dwh-install/${dwhServerVersion}/dwh-install-${dwhServerVersion}.tar.gz
```


_Softwareupdate-Paket auf DWH-J2EE-${dwhImportVersion}_

```
${releaseRepoUrl}/org/aktin/dwh-update/${dwhServerVersion}/dwh-update-${dwhServerVersion}.tar.gz
```

Beschreibungen und Hinweise
---------------------------

_Installation_

[Installationsbeschreibung]{dwh-install.html}
[Voraussetzungen]{install-requirements.html}
[Installationsskript]{dwh-script.html}
[Firewall Hinweise]{dwh-firewall.html}

_Update_

[Skpriptbasiertes Update]{update-auto.html}
[Manuelles Update]{update-manual.html}

_Changelog_

[Changelog]{changelog.html}


Kontakt
-------
Für weitere Infos und Fragen:
it-support(at)aktin.org