Automatische Konfiguration des AKTIN-Applikations-Server mit dem Installationsskript
===============================================

Unser Installationsskript wurde getestet mit Debian 8 und CentOS 7.
Wenn Sie ein anderes System verwenden, müssen Sie die Skripte evtl. 
anpassen oder die enthaltenen Schritte manuell durchführen.

Bei einer Neuinstallation beachten Sie bitte die Hinweise unter: [Installationsvoraussetzungen](install-requirements.html).

Beachten Sie bitte ob Java installiert ist, falls eine bestehende Betriebsversion verwendet wird. 
Es wird die Version 8 vom Openjdk installiert, sind bereits niedrigere Versionen von Java installiert, 
kann dies zu Problemen bei der Installation und dem Betrieb führen.

Mit dem Befehl 

```
uname -a
```
können Sie die Distribution des Linux-Systems herausfinden. 
In der Konsole sehen Sie dann ähnlich dem Folgenden: 

```
Linux debian-8 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u1 (2015-12-14) x86_64 GNU/Linux
```

Um das Skript zu starten, brauchen Sie einen Konsolenzugang zum Server.
Wechseln Sie zunächst zum Benutzer `root` (z.B. via `su -`). Anschließend
können Sie unser Paket unter folgendem Link herunterladen:

${releaseRepoUrl}/org/aktin/dwh/dwh-install/${project.version}/dwh-install-${project.version}.tar.gz

z.B. mit 

```
# wget ${releaseRepoUrl}/org/aktin/dwh/dwh-install/${project.version}/dwh-install-${project.version}.tar.gz
```
(evtl. mit Option `--no-check-certificate` bei Zertifikatfehlern).

Wenn das Paket heruntergeladen ist, kann es entpackt werden mit 

```
tar xvzf dwh-install-${project.version}.tar.gz
```
Die Dateien werden dann automatisch in 
den Ordner `aktin-dwh-installer` entpackt.

Die Installation benötigt Zugriff auf das Internet - speziell die jeweiligen 
Repositories und die Server der Universität Oldenburg, um die benötigten Pakete herunterzuladen.

Unter Debian 8, starten Sie nun das Skript 

```
./aktin-dwh-installer/install_debian.sh
```
Unter CentOS 7, starten Sie nun das Skript

```
./aktin-dwh-installer/install_centos.sh
```
SELinux wird in dem Prozess deaktiviert. Sollten Sie SELinux verwenden wollen 
müssen Sie es entsprechend manuell konfigurieren - oder die Skriptinhalte 
selektiv manuell ausführen.

Die Installation kann bis zu 20 Minuten dauern. 
Um die Konsolenausgaben umzuleiten, können Sie alternativ auch 

```
./aktin-dwh-installer/install_debian.sh > install-aktin-dwh.log
```
ausführen. Die Logausgaben finden Sie dann in der Datei `install-aktin-dwh.log`.

Während der Installation werden Sie zur Konfiguration der `aktin.properties` aufgefordert. In dieser muss als minimale Anpassung ein an Sie ausgebebender Api-Key hinterlegt werden, unter `broker.keys=XXXyourapikeyXXX`. 

Des Weiteren sollten Sie ihre E-Mail-Konfiguration anzupassen. Die Einstellungsdatei befindet sich unter `dwh-update/email.config`, in dieser Datei müssen alle wichtigen Parameter für die automatische Emailbenachrichtigung konfiguriert werden. Wird bei der Installation diese Datei nicht konfiguriert, so werden Standardwerte gesetzt, die nicht zu einer Benachrichtigung führen!

Für die Konfiguration der Dateien finden Sie Informationen unter: https://aktin.org/software/0.10.1/server/update-manual.html  

Für das Anpassen der Datei `aktin.properties` muss folgender Befehl ausgeführt werden:

```
nano /BENUTZERNAME/aktin-dwh-installer/dwh-update/aktin.properties
```

Anschließend muss die Datei `aktin.properties` in das Konfigurationsverzeichnis des Anwendungsservers kopiert werden. Dies können Sie mit folgendem Befehl vollziehen:

```
cp -v /BENUTZERNAME/aktin-dwh-installer/dwh-update/aktin.properties /opt/wildfly-9.0.2.Final/standalone/configuration/aktin.properties
```

Die Befehle bezüglich der Datei `aktin.properties` werden Ihnen auch beim Installationsvorgang angezeigt.

Nach den erfolgreichen Anpassungen müssen Sie nochmals das Installationsskript starten:

Unter Debian 8, starten Sie nun das Skript 

```
./aktin-dwh-installer/install_debian.sh
```
Unter CentOS 7, starten Sie nun das Skript

```
./aktin-dwh-installer/install_centos.sh
```

Nach der Installation der notwendigen Pakete und der Einrichtung der Dienste sowie des i2b2 ruft der Installationsskript den neusten Updateskript auf, um die Einrichtung der neusten Software des Aktin-Projektes sowie die weiteren Anpassungen durchzuführen. In diesem Schritt kann der Skript unterbrochen werden, sollten Angaben Ihrerseits nötig sein. Auf die Angaben werden Sie in der Konsole hingewiesen. 

Informationen zum Update finden Sie unter [skriptbasierten Update](update-auto.html) oder [manuellen Update](update-manual.html).

Bevor die Funktionalität des Servers getestet werden, benötigt der Server evtl. noch wenige Minuten, um alle beteiligten Dienste zu starten und einzurichten.

Nach der erfolgreichen Installation können Sie auf der Seite _`http://IHRSERVER/aktin/admin/test/`_ die Funktionalität testen.

Sollten Sie Fragen zur Installation haben oder Probleme begegnen, kontaktieren Sie uns gerne unter it-support(at)aktin.org

Test des Data Warehouse
-----------------------
Wenn die Installation erfolgreich durchgeführt wurde, kann
anschließend per Web Browser auf das integrierte Data 
Warehouse zugegriffen werden. In der Adresszeile muss die 
entsprechende IP-Adresse / Servername angepasst werden:
`http://IHRSERVER/webclient/`


Test der Importschnittstelle
----------------------------
Die Importschnittstelle des Servers kann mit den Client-Programmen
aus dem Software-Paket (ZIP) des [Demo-Server](demo-server.html)
getestet werden:

```
java-client-fhir.bat http://IHRSERVER/aktin/cda/fhir/Binary examples\basismodul-beispiel-storyboard01.xml
```

Test der Verbindung und E-Mail-Konfiguration
--------------------------------------------

Unter dem Link _`http://IHRSERVER/aktin/admin/test/`_ kann man die durchgeführten Anpassungen bezüglich Broker und E-Mail sowie Reporterstellung testen. 

[Test server configuration]: update_7_test/Screenshot_1.png "Testbildschirm"
Der erste Button testet die Erreichbarkeit des zentralen Aktin-Broker. Der lokale Server übersendet dem zentralen Broker nur Statusinformationen wie die Serverversion und Aktivität.
Der zweite Button testet die oben eingerichtete E-Mail-Adresse. Diese sendet nun eine E-Mail an die in `aktin.properties` angegebene Ziel-Adresse.
Der dritte Button testet die R Bibliotheken. Diese werden zur Erzeugung der Berichte verwendet.

[Test server configuration]: update_7_test/Screenshot_5.png "Erfolgreicher Testabschluss"
Sollte der E-Mail-Test fehlschlagen und das Textfeld zeigt keine grüne Erfolgsmeldung wie in dem obigen Bild, sondern Fehlermeldungen, könnte dies ein Hinweis auf fehlerhafte E-Maile-Einstellung sein. In dem Fall muss man die E-Mail-Konfiguration ändern wie in Abschnitt "E-Mail-Konfiguration und Änderungen" und die Softwarepakete erneut laden.

[Test server configuration]: update_7_test/Screenshot_6.png "Fehlerhafte Emailkonfiguration"