Manuelles Update für Debian, CentOS oder andere Betriebssysteme
===============================================================

Anmelden als ROOT
-----------------

Für die Ausführung ist wichtig, dass der User als `root` angemeldet ist. 
Dazu führt man, falls der User auf der Sudoer-Liste steht (der User `root` hat dann meist kein eigenes Passwort), Folgendes aus:

```
sudo su -
```
oder, wenn der User nicht auf der Sudoer-Liste steht (`root` hat eigenes Passwort), Folgendes:

```
su -
```

Löschen der alten Software
--------------------------

Die alte Version muss aus dem Wildfly Service entfernt werden. Dies kann man z.B. mit den folgenden Befehlen erreichen, wobei `$WILDFLY_HOME` auf den Ordner verlinkt, wo beim ersten Installation Wildfly eingerichtet wurde, z.B. `WILDFLY_HOME=/opt/wildfly-9.0.2.Final`, dieser Befehl sollte als `root` ausgeführt werden:

```
$WILDFLY_HOME/bin/jboss-cli.sh -c --command="undeploy --name=dwh-j2ee-0.5-SNAPSHOT.ear"
```
Der Befehl war erfolgreich, wenn keine Fehlermeldung angezeigt wird und anschließend eine Datei `dwh-j2ee-0.5-SNAPSHOT.ear.undeployed` im gleichen Ordner erstellt wurde.

```
ls $WILDFLY_HOME/standalone/deployments/ | grep .ear.undeployed
#dwh-j2ee-0.5-SNAPSHOT.ear.undeployed
```

Nach dem Undeploy können Sie die beiden Dateien `dwh-j2ee-0.5-SNAPSHOT.ear` und `dwh-j2ee-0.5-SNAPSHOT.ear.undeployed` (in dieser Reihefolge) aus dem Verzeichnis `$WILDFLY_HOME/standalone/deployments/` löschen. (Das Löschen kann nur user mit `root` Rechten ausführen.) Das Löschen hat keine Auswirkung. 

```
rm $WILDFLY_HOME/standalone/deployments/dwh-j2ee-0.5-SNAPSHOT.ear*
```

Einbinden der neuen Software
----------------------------

Zuerst muss die neue EAR-Datei auf den Server geladen werden. Die benötigte EAR-Datei finden Sie unter [EAR Release ${dwhImportVersion}](${releaseRepoUrl}/org/aktin/dwh-j2ee/${dwhImportVersion}/dwh-j2ee-${dwhImportVersion}.ear). 

```
wget ${releaseRepoUrl}/org/aktin/dwh-j2ee/${dwhImportVersion}/dwh-j2ee-${dwhImportVersion}.ear
```
Danach kann man die neue EAR-Datei in das Deploymentverzeichnis 
unter `$WILDFLY_HOME/standalone/deployments` laden. 
`$install_root` ist hier der Pfad zu der heruntergeladenen Datei, 
z.B. das aktuelle Verzeichnis: `install_root=.` Dabei sollte man sicher stellen,
dass die betreffende Datei nicht bereits in dem Verzeichnis vorhanden ist. 
(`ls $WILDFLY_HOME/standalone/deployments | grep dwh-j2ee-${dwhImportVersion}.ear` ergibt leeres Ergebnis)

Folgenden Befehl sollte man per `sudo` oder als `root` ausführen. 

```
cp $install_root/dwh-j2ee-${dwhImportVersion}.ear $WILDFLY_HOME/standalone/deployments/dwh-j2ee-${dwhImportVersion}.ear   
```

Nach dem kopieren erscheint dann ein `dwh-j2ee-${dwhImportVersion}.ear.isdeploying` und nach 
einiger Zeit dann, bei erfolgreicher Deployment, `dwh-j2ee-${dwhImportVersion}.ear.deployed`.
Sollte eine Datei mit dem Namen `dwh-j2ee-${dwhImportVersion}.ear.failed` erscheinen,
wenden Sie sich bitte an uns (it-support@aktin.org).


```
ls $WILDFLY_HOME/standalone/deployments/ | grep dwh-j2ee-${dwhImportVersion}.ear
#dwh-j2ee-${dwhImportVersion}.ear
#dwh-j2ee-${dwhImportVersion}.ear.isdeploying
# wird nach einiger Zeit zu
#dwh-j2ee-${dwhImportVersion}.ear.deployed
# oder im Falle eines Fehlers 
#dwh-j2ee-${dwhImportVersion}.ear.failed
```

Datenbank-Reset
---------------
Für das Zurücksetzen der Postgres-Datenbank kann man über die PSQL Konsole nagivieren. Dazu meldet man sich mit dem User an, der die benötigten Rechte hat  (z. B. `postgres`) und startet dann die `psql` Konsole.

```
su postgres
psql
```
In der `psql` kann man dann folgende Befehle zum Leeren der vier Tabellen ausführen (Achtung, es kommt keine weitere Abfrage!):

```
\connect i2b2
TRUNCATE i2b2crcdata.observation_fact, i2b2crcdata.patient_dimension, i2b2crcdata.visit_dimension, i2b2crcdata.patient_mapping, i2b2crcdata.encounter_mapping;
```

Mit folgenden Befehlen wird die `psql` Konsole geschlossen und der User `postgres` abgemeldet.

```
\q
exit
```

Einspielen der neuen Ontologie-Metadaten
----------------------------------------
Die neue Ontologie kann über das Paket [CDA-Ontology](${releaseRepoUrl}/org/aktin/cda-ontology/${dwhImportVersion}/cda-ontology-${dwhImportVersion}.jar)heruntergeladen werden:

```
wget ${releaseRepoUrl}/org/aktin/cda-ontology/${dwhImportVersion}/cda-ontology-${dwhImportVersion}.jar
```

Man sollte das Paket in einer temporären Verzeichnis entpacken und die enthaltene `sql` Skripte über den `postgres` User ausführen. Anschließend kann die temporäre Verzeichnis wieder gelöscht werden.

```
CDATMPDIR=/var/tmp/cda-ontology
unzip packages/cda-ontology-${dwhImportVersion}.jar -d $CDATMPDIR
chmod 777 -R $CDATMPDIR

su - postgres bash -c "psql -d i2b2 -f $CDATMPDIR/sql/meta.sql" 2>&1 >> update_sql.log
su - postgres bash -c "psql -d i2b2 -f $CDATMPDIR/sql/data.sql" 2>&1 >> update_sql.log

rm -r $CDATMPDIR
```

Neustart des Service
--------------------
Nun sollte der Wildfly Service neugestartet werden.

``` 
service wildfly restart
```

Damit ist das DWH bereit, neue Daten zu empfangen.

(Optional, empfohlen) Keine vorausgefüllten Benutzerdaten in i2b2
-----------------------------------------------------------------

Bei dem i2b2-Login-Formular sind standardmäßig Benutzerdaten des `demo`-Benutzters
voreingetragen. Um diesen Eintrag zu entfernen, gehen Sie vor wie folgt:

Hierbei ist `i2b2_WEBDIR` die i2b2 Webclient Verzeichnis, z.B. `i2b2_WEBDIR=/var/www/html/webclient`. 
Je nach Distribution und Installation kann dies auch `/var/www/webclient` oder ein anderes Verzeichnis sein.

Ändern Sie nun die Datei `$i2b2_WEBDIR/js-i2b2/cells/PM/PM_misc.js` mit einem Editor Ihrer Wahl (ggf. vorher ein Backup erstellen).

### ```
### cp $i2b2_WEBDIR/js-i2b2/cells/PM/PM_misc.js $i2b2_WEBDIR/js-i2b2/cells/PM/PM_misc.js.orig
### 
### sed -i "s/id=\"loginusr\" value=\"demo\"/id=\"loginusr\" value=\"\"/g" $i2b2_WEBDIR/js-i2b2/cells/PM/PM_misc.js
### sed -i "s/id=\"loginpass\" value=\"demouser\"/id=\"loginpass\" value=\"\"/g" $i2b2_WEBDIR/js-i2b2/cells/PM/PM_misc.js
### ```

In Zeile 123 bei loginusr das Feld `value="demo"` ändern in `value=""`.
Außerdem in Zeile 125 bei loginpass das Feld `value="demouser"` ändern in `value=""`.
