Patch Update von Release 0.6 auf Release 0.6.2
==============================================

Diese Schritte müssen nur ausgeführt werden, wenn Sie bereits auf das Release 0.6 aktualisiert haben und jetzt ein Patch-Release installieren möchten.

Anmelden als ROOT
-----------------

Für die Ausführung ist wichtig, dass der User als `root` angemeldet ist. 
Dazu führt man, falls der User auf der Sudoer-Liste steht (der User `root` hat dann meist kein eigenes Passwort), Folgendes aus:

```
sudo su
```
oder, wenn der User nicht auf der Sudoer-Liste steht (`root` hat eigenes Passwort), Folgendes:

```
su
```

Löschen der alten Software
--------------------------

Die alte Version muss aus dem Wildfly Service entfernt werden. Dies kann man z.B. mit den folgenden Befehlen erreichen, wobei `$WILDFLY_HOME` auf den Ordner verlinkt, wo beim ersten Installation Wildfly eingerichtet wurde, z.B. `WILDFLY_HOME=/opt/wildfly-9.0.2.Final`, dieser Befehl sollte als `root` ausgeführt werden:

```
$WILDFLY_HOME/bin/jboss-cli.sh -c --command="undeploy --name=dwh-j2ee-0.6-SNAPSHOT.ear"
```
Der Befehl war erfolgreich, wenn keine Fehlermeldung angezeigt wird und anschließend eine Datei `dwh-j2ee-0.6-SNAPSHOT.ear.undeployed` im gleichen Ordner erstellt wurde.

```
ls $WILDFLY_HOME/standalone/deployments/ | grep .ear.undeployed
#dwh-j2ee-0.6-SNAPSHOT.ear.undeployed
```

Nach dem Undeploy können Sie die beiden Dateien `dwh-j2ee-0.6-SNAPSHOT.ear` und `dwh-j2ee-0.6-SNAPSHOT.ear.undeployed` (in dieser Reihefolge) aus dem Verzeichnis `$WILDFLY_HOME/standalone/deployments/` löschen. (Das Löschen kann nur user mit `root` Rechten ausführen.) Das Löschen hat keine Auswirkung. 

```
rm $WILDFLY_HOME/standalone/deployments/dwh-j2ee-0.6-SNAPSHOT.ear*
```

Einbinden der neuen Software
----------------------------

Zuerst muss die neue EAR-Datei auf den Server geladen werden. Die benötigte EAR-Datei finden Sie unter [EAR Release ${dwhImportVersion}](${releaseRepoUrl}/org/aktin/dwh-j2ee/${dwhImportVersion}/dwh-j2ee-${dwhImportVersion}.ear). 

```
wget ${releaseRepoUrl}/org/aktin/dwh-j2ee/${dwhImportVersion}/dwh-j2ee-${dwhImportVersion}.ear
```
Danach kann man die neue EAR-Datei in das Deploymentverzeichnis 
unter `$WILDFLY_HOME/standalone/deployments` laden. 
`$install_root` ist hier der Pfad zu der heruntergeladenen Datei, 
z.B. das aktuelle Verzeichnis: `install_root=.` Dabei sollte man sicher stellen,
dass die betreffende Datei nicht bereits in dem Verzeichnis vorhanden ist. 
(`ls $WILDFLY_HOME/standalone/deployments | grep dwh-j2ee-${dwhImportVersion}.ear` ergibt leeres Ergebnis)

Folgenden Befehl sollte man per `sudo` oder als `root` ausführen. 

```
cp $install_root/dwh-j2ee-${dwhImportVersion}.ear $WILDFLY_HOME/standalone/deployments/dwh-j2ee-${dwhImportVersion}.ear   
```

Nach dem kopieren erscheint dann ein `dwh-j2ee-${dwhImportVersion}.ear.isdeploying` und nach 
einiger Zeit dann, bei erfolgreicher Deployment, `dwh-j2ee-${dwhImportVersion}.ear.deployed`.
Sollte eine Datei mit dem Namen `dwh-j2ee-${dwhImportVersion}.ear.failed` erscheinen,
wenden Sie sich bitte an uns (it-support@aktin.org).


```
ls $WILDFLY_HOME/standalone/deployments/ | grep dwh-j2ee-${dwhImportVersion}.ear
#dwh-j2ee-${dwhImportVersion}.ear
#dwh-j2ee-${dwhImportVersion}.ear.isdeploying
# wird nach einiger Zeit zu
#dwh-j2ee-${dwhImportVersion}.ear.deployed
# oder im Falle eines Fehlers 
#dwh-j2ee-${dwhImportVersion}.ear.failed
```