Skriptbasiertes Update auf DWH-J2EE-${dwhJ2EEVersion} für Ubuntu
===============================================

<!--  MACRO{toc|section=0|fromDepth=1|toDepth=6} -->

Anmelden als ROOT
---------------------
Für die Ausführung ist wichtig, dass der User als `root` angemeldet ist. Dazu führen Sie, falls der User auf der Sudoer-Liste steht (der User `root` hat dann meist kein eigenes Passwort), folgenden Befehl aus:
```
sudo su -
```
oder, falls der User nicht auf der Sudoer-Liste steht (`root` hat ein eigenes Passwort):
```
su -
```
Alle folgende Befehle sollten als `root`-User ausgeführt werden.

Ausführung des Updates
---------------------
Für laufende Data Warehouse-Instanzen auf Ubuntu-Servern wird ein Update-Skript bereitgestellt. Das Update-Skript finden Sie unter [Ubuntu Update Paket](${releaseRepoUrl}/org/aktin/dwh/dwh-update/${project.version}/dwh-update-${project.version}.tar.gz). 

Zuerst muss das Paket _Softwareupdate-Paket auf DWH-J2EE-${dwhJ2EEVersion}_ heruntergeladen und entpackt werden. Haben Sie direkt vom Server aus die Möglichkeit das Paket herunterzuladen, können Sie hierfür den folgenden Befehl nutzen:
```
wget ${releaseRepoUrl}/org/aktin/dwh/dwh-update/${project.version}/dwh-update-${project.version}.tar.gz
```

Besteht diese Möglichkeit nicht, können Sie das Paket alternativ von einem anderen Rechner aus herunterladen:
[${releaseRepoUrl}/org/aktin/dwh/dwh-update/${project.version}/dwh-update-${project.version}.tar.gz](${releaseRepoUrl}/org/aktin/dwh/dwh-update/${project.version}/dwh-update-${project.version}.tar.gz)

Kopieren oder laden Sie anschließend die Datei ins `/root`-Verzeichnis Ihres Servers. Entpacken Sie diese Datei und wechseln Sie anschließend in das Verzeichnis des Updates:
```
tar xvzf dwh-update-${project.version}.tar.gz
cd dwh-update
```

Der Inhalt des Ordners (über den Befehl `ls`) sollte in etwa wie folgt aussehen:
```
dwh-update
- aktin_update.sh
```

Das Updateskript kann anschließend über den folgenden Befehl ausgeführt werden: 
```
./aktin_dwh_update.sh
```

Nach Abschluss des Update wird die Datei `$WILDFLY_HOME/standalone/deployments/dwh-j2ee-${dwhJ2EEVersion}.ear.deployed` erstellt. Sie können dies mit folgendem Befehl kontrollieren:
```
ls $WILDFLY_HOME/standalone/deployments/dwh-j2ee-*.deployed
```

Sollte die Datei angezeigt werden, war das Update erfolgreich. Sollte stattdessen `$WILDFLY_HOME/standalone/deployments/dwh-j2ee-${dwhJ2EEVersion}.ear.failed` auftauchen oder ein anderer Fehler auftreten, so führen Sie bitte das Aktin-Diagnose-Skript aus. Eine genauere Beschreibung finden Sie auf der Seite [Installationsskript](install-script.html) im Bereich "Aktin Diagnose-Skript".

Nach dem erfolgreichen Update können Sie auf der Seite `http://IHRSERVER/aktin/admin/plain/test.html` die Grundfunktionalität testen. Eine weiterführende Anleitung zum Testen der Verbindung finden Sie auf der Seite [Installationsskript](install-script.html) im Bereich "Test der Betriebsfähigkeit".
