#
#     change mail server configuration here
#
#     mail server name
#
smtphost=smtp.web.de
#
#     mail server port, e.g. 465 (SSL) or 587 (TLS)
#
smtpport=587
#
#     user name for authentication
#
smtpuser=aktin-test@web.de
#
#     password for authentication
#
smtppass=hUzb/ysX
#
#     email address (from)
#
mailfrom=aktin-test@web.de
#
#     security configuration, only one of ssl/tls can be used
#
usessl=false
usetls=true